<!DOCTYPE html>
<html>
  <head>
    <title>Image</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div id="app">
    <nav>
        <a href='/fruit'>Home</a>
        <a href='/fruit/image'>Image</a>
    </nav>

      <h1>Image Page</h1>
      
    </div>
  </body>
</html>