 <!DOCTYPE html>
<html>
  <head>
    <title>#title#</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div id="app">
    <nav>
        <a href='/bike'>Home</a>
        <a href='/bike/image'>Image</a>
        <a href='/bike/form'>Form</a>
    </nav>

      <h1>Welcome Home, #title#!!!</h1>
      <h2>Welcome to your Dashboard, use the navbar to search the website!!</h2>
      
    </div>
  </body>
</html>